
div[wnd-obj=diag] {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    cursor: default;
    background: rgba(200, 200, 200, .5);
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: none;
}

    div[wnd-obj=diag][show] {
        display: block;
    }

    div[wnd-obj=diag] div[diag-obj=chrome] {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        margin: auto;
        z-index: 1001;
        cursor: default;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 30px rgba(100, 100, 100, .3);
        border: 1px solid rgba(200, 200, 200, 1);
        border-radius: 2px;
        width: 450px;
        height: 160px;
    }

        div[wnd-obj=diag] div[diag-obj=chrome] div[chrome-obj=msag] {
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 30px;
            right: 0px;
            margin: auto;
            cursor: default;
            width: auto;
            padding: 35px 20px;
            line-height: 24px;
            font-family: 'Open Sans Light';
            font-size: 15px;
            text-align: center;
        }

        div[wnd-obj=diag] div[diag-obj=chrome] div[chrome-obj=bttn] {
            position: absolute;
            left: 0px;
            bottom: 0px;
            right: 0px;
            margin: auto;
            cursor: default;
            width: auto;
            padding: 10px;
        }

            div[wnd-obj=diag] div[diag-obj=chrome] div[chrome-obj=bttn] div[bttn-obj=yes] {
                padding: 6px 10px 6px 10px;
                float: right;
                font-size: 13px;
                font-family: 'Open Sans Semibold';
                white-space: nowrap;
                color: #FFF;
                text-align: center;
                text-shadow: rgba(10, 10, 10, .1) 1px 1px;
                width: inherit;
                height: 20px;
                background: #FFF;
                background: rgba(0, 148, 255, .8);
                border-radius: 2px;
                cursor: pointer;
            }

            div[wnd-obj=diag] div[diag-obj=chrome] div[chrome-obj=bttn] div[bttn-obj=no] {
                margin: 0px 0px 0px 6px;
                padding: 6px 10px 6px 10px;
                float: right;
                font-size: 13px;
                font-family: 'Open Sans Semibold';
                white-space: nowrap;
                color: #010;
                text-align: center;
                width: inherit;
                height: 20px;
                background: #FFF;
                background: rgba(245, 245, 245, 1);
                border-radius: 2px;
                cursor: pointer;
            }



div[layout-obj=signup] {
    position: relative;
    margin: 0px 0px 150px 0px;
}

    div[layout-obj=signup] div[signup-obj=hdr] {
        display: none;
    }

    div[layout-obj=signup] div[signup-obj=tab] {
        border: 0px none;
        border-bottom: 2px solid rgba(220, 220, 220, 1);
        position: relative;
    }

        div[layout-obj=signup] div[signup-obj=tab] ul {
            margin: 0px auto -2px auto;
            padding: 0px;
            list-style: none;
            position: relative;
            overflow: hidden;
            z-index: 1;
            width: 200px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }

            div[layout-obj=signup] div[signup-obj=tab] ul li {
                margin: 0px;
                padding: 14px 10px 14px 10px;
                position: relative;
                width: 180px;
                border: 0px;
                border-bottom: 1px solid transparent;
                text-align: center;
                font-family: 'Open Sans Bold';
                font-size: 17px;
                color: rgba(40, 40, 40, .5);
                -webkit-box-flex: -1;
                -moz-box-flex: -1;
                -ms-box-flex: -1;
                -o-box-flex: -1;
                box-flex: -1;
            }

                div[layout-obj=signup] div[signup-obj=tab] ul li span {
                    margin: 0px 0px 0px 0px;
                    padding: 10px 0px 0px 0px;
                    position: relative;
                    text-align: center;
                    text-align: center;
                    font-family: 'Open Sans Bold';
                    font-size: 22px;
                }

                    div[layout-obj=signup] div[signup-obj=tab] ul li span:before {
                        margin: auto;
                        padding: 4px;
                        position: absolute;
                        top: 6px;
                        left: -25px;
                        bottom: -3px;
                        content: attr(label);
                        color: #FFF;
                        width: 20px;
                        height: 20px;
                        background: rgba(40, 40, 40, .4);
                        border-radius: 60px;
                        display: none;
                    }

                div[layout-obj=signup] div[signup-obj=tab] ul li[selected=true] {
                    border-bottom: 2px solid rgba(0, 148, 255, 1);
                    color: rgba(40, 40, 40, 1);
                }

                    div[layout-obj=signup] div[signup-obj=tab] ul li[selected=true] span:before {
                        background: rgba(0, 148, 255, 1);
                    }

                div[layout-obj=signup] div[signup-obj=tab] ul li[okay] span:before {
                    background: rgba(0, 148, 255, 1);
                }

    div[layout-obj=signup] div[signup-obj=bdy] {
    }

        div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=hintbox] {
            margin: 50px auto 0px auto;
            padding: 0px 0px 0px 0px;
            width: 620px;
            font-size: 14px;
            font-family: 'Open Sans Regular';
            text-align: center;
        }

            div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=hintbox] div[hintbox-obj=title] {
                font-size: 19px;
                font-family: 'Open Sans Light';
                margin: 0px 0px 10px 0px;
                color: #F00;
            }

            div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=hintbox] div[hintbox-obj=descr] {
                font-size: 13px;
                font-family: 'Open Sans Regular';
                margin: 0px 0px 10px 0px;
                color: #F00;
                line-height: 19px;
            }

        div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] {
            margin: 50px auto 60px auto;
            padding: 0px 0px 0px 0px;
            width: 620px;
            font-size: 14px;
            font-family: 'Open Sans Regular';
        }

            div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] {
                margin: 0px 10px 28px 10px;
            }

                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] div[row-obj=column] {
                    margin: 9px;
                }

                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] {
                    overflow: hidden;
                    position: relative;
                    margin: 0px 0px 0px 0px;
                    padding: 0px 0px 0px 0px;
                }

                    div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true][headr] span {
                        font-size: 15px;
                        font-family: 'Open Sans Bold';
                    }

                    div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column] {
                        float: left;
                        overflow: hidden;
                        position: relative;
                        padding: 5px 5px 5px 5px;
                        margin: 0px 0px 0px 0px;
                        min-width: 170px;
                        text-align: right;
                    }

                        div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column] span {
                            margin: 6px 0px 6px 0px;
                            line-height: 32px;
                        }

                        div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column] a {
                            text-decoration: none;
                            color: rgba(0, 148, 255, 1);
                        }

                            div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column] a:hover {
                                text-decoration: underline;
                                color: rgba(0, 148, 255, 1);
                            }

                        div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column]:last-of-type {
                            float: none;
                            overflow: hidden;
                            position: relative;
                            width: auto;
                            font-size: 12px;
                            line-height: 19px;
                            text-align: left;
                        }

                        div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column] div[row-obj=column] {
                            float: left;
                            overflow: hidden;
                            position: relative;
                            padding: 3px 2px 3px 0px;
                            margin: 0px 6px 0px 0px;
                            min-width: 16px;
                            text-align: right;
                        }

                            div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column] div[row-obj=column]:last-of-type {
                                float: none;
                                overflow: hidden;
                                position: relative;
                                padding: 0px;
                                /*margin-top: -5px;*/
                                width: auto;
                                font-size: 12px;
                                line-height: 19px;
                                text-align: left;
                            }

                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] div[row-obj=column] input[type=text],
                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] div[row-obj=column] input[type=password],
                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] div[row-obj=column] textarea {
                    width: 250px;
                    font-size: 14px;
                }

                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] div[row-obj=column] select {
                    min-width: 263px;
                    font-size: 14px;
                }

                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] div[row-obj=column] input[type=submit] {
                    font-size: 14px;
                    font-family: 'Open Sans Bold';
                    padding: 10px;
                    height: inherit;
                    max-height: inherit;
                    background: rgba(0, 148, 255, 1);
                    color: #FFF;
                }

                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] div[row-obj=column] input[type=button] {
                    padding: 0px 10px;
                    cursor: pointer;
                }

                    div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] div[row-obj=column] input[type=button][selected] {
                        background: rgba(0, 148, 255, 1);
                        color: #FFF;
                    }




        div[layout-obj=signup] div[signup-obj=bdy] div[ftype=cform] {
            padding: 0px 0px 0px 0px;
            width: 750px;
        }

        div[layout-obj=signup] div[signup-obj=bdy] div[ftype=iform] {
            padding: 0px 0px 0px 0px;
            width: 750px;
        }


.pwd-genrtor {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    max-width: 242px;
}

    .pwd-genrtor div {
        -webkit-box-flex: -1;
        -moz-box-flex: -1;
        -ms-box-flex: -1;
        -o-box-flex: -1;
        box-flex: -1;
    }



div[layout-obj=signup] div[signup-obj=bdy] ul[bdy-obj=tab] {
    margin: 20px auto;
    padding: 0px;
    list-style: none;
    width: 400px;
    position: relative;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

    div[layout-obj=signup] div[signup-obj=bdy] ul[bdy-obj=tab] li[tab-obj=btn] {
        overflow: hidden;
        padding: 10px;
        margin: 0px 2px 0px 0px;
        width: 175px;
        text-align: center;
        background: rgba(220, 220, 220, .5);
        color: #101;
        font-family: 'Open Sans SemiBold';
        font-size: 14px;
        cursor: pointer;
        -webkit-box-flex: -1;
        -moz-box-flex: -1;
        -ms-box-flex: -1;
        -o-box-flex: -1;
        box-flex: -1;
    }

        div[layout-obj=signup] div[signup-obj=bdy] ul[bdy-obj=tab] li[tab-obj=btn]:hover {
            background: rgba(0, 148, 255, .1);
        }

        div[layout-obj=signup] div[signup-obj=bdy] ul[bdy-obj=tab] li[tab-obj=btn] a {
            color: #101;
            text-decoration: none;
        }

        div[layout-obj=signup] div[signup-obj=bdy] ul[bdy-obj=tab] li[tab-obj=btn]:last-of-type {
            margin: 0px;
        }

        div[layout-obj=signup] div[signup-obj=bdy] ul[bdy-obj=tab] li[tab-obj=btn][selected=true] {
            background: rgba(0, 148, 255, 1);
            color: #FFF;
        }

            div[layout-obj=signup] div[signup-obj=bdy] ul[bdy-obj=tab] li[tab-obj=btn][selected=true]:hover {
                background: rgba(0, 148, 255, .5);
            }

            div[layout-obj=signup] div[signup-obj=bdy] ul[bdy-obj=tab] li[tab-obj=btn][selected=true] a {
                color: #FFF;
            }

.hide_form {
    display: none;
}

.spacer {
    margin: 0px 0px 30px 0px !important;
}








@media screen and (max-device-width:1024px) {

div[page=layout] div[layout-obj=headr] {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    z-index: 100;
    height: 80px;
    background: rgba(30, 30, 30, 1);
}

    div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] {
        margin: auto;
        width: auto;
        max-width: inherit;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 100;
        padding: 0px 0px 0px 0px;
        border-bottom: 1px none rgba(255, 255, 255, 1);

            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: flexbox;
    }

            div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj] {
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                -ms-flex: 1;
                -o-flex: 1;
                flex: 1;
            }

        div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[dropdwn-obj=wrappr] {
            position: relative;
            margin: auto;
            width: auto;
            max-width: 85%;
        }

        div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=left] {
            float: left;
            position: relative;
            overflow: hidden;
            width: 180px;
        }

            div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=left] div[left-obj=logo] {
                font-family: 'Open Sans Semibold';
                font-size: 45px;
                color: rgba(255, 255, 255, 1);
                text-shadow: rgba(0, 0, 0, .3) 2px 2px 10px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: left bottom;
                margin: 10px 0px 0px 0px;
                height: 52px;
            }

        div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[dropdwn-obj=wrappr] div[wrappr-obj=right] {
            float: right;
            position: relative;
            width: auto;
        }

            /* Menu List Area*/
            div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[dropdwn-obj=wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] {
                padding: 10px 0px 0px 0px;
                cursor: pointer;
            }

                div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[dropdwn-obj=wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=shape] {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 23px;
                    height: 4px;
                    margin: 0px 0px 0px 10px;
                    cursor: pointer;
                    background: rgba(255, 255, 255, 1);
                    display: none;
                }

        div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=shape]:before {
            width: 100%;
            height: 4px;
            content: "";
            background: rgba(255, 255, 255, 1);
            position: absolute;
            top: 8px;
            left: 0px;
        }

        div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=shape]:after {
            width: 100%;
            height: 4px;
            content: "";
            background: rgba(255, 255, 255, 1);
            position: absolute;
            top: 16px;
            left: 0px;
        }

        div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] {
            padding: 0px 0px;
            position: relative;
            white-space: nowrap;
        }

            div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] div[menu-obj=item] {
                display: inline-block;
                margin: 0px 0px 0px 0px;
                padding: 10px 15px 10px 15px;
                color: rgba(255, 255, 255, 1);
                position: relative;
                border: 1px none #fff;
            }

                div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] div[menu-obj=item]:before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    width: 1px;
                    background: rgba(255, 255, 255, 1);
                    background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
                    background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
                    background: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
                    background: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
                    background: linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
                }

                div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] div[menu-obj=item]:last-of-type::before {
                    display: none;
                }

                div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] div[menu-obj=item] span {
                    color: #FFF;
                }

                    div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] div[menu-obj=item] span[text] {
                        color: #FFF;
                        font-family: 'Open Sans Light';
                    }

                div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] div[menu-obj=item] a {
                    color: rgba(0, 0, 0, 1);
                    color: #FFF;
                    text-decoration: none;
                }

                div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] div[menu-obj=item]:hover a {
                    color: rgba(0, 148, 255, .5);
                    color: rgba(229, 244, 254, 1);
                    text-decoration: none;
                    text-shadow: none;
                }

}

@media screen and (max-device-width:760px) {
    @-webkit-viewport {
        width: 320px;
    }

    @-moz-viewport {
        width: 320px;
    }

    @-ms-viewport {
        width: 320px;
    }

    @-o-viewport {
        width: 320px;
    }

    div[page=layout] div[layout-obj=headr] {
        position: relative;
        background: rgba(30, 30, 30, 1);
        height: inherit;
        top: inherit;
        left: inherit;
        right: inherit;
    }

        div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] {
            margin: auto;
            width: auto;
            max-width: 100%;
            position: relative;
            z-index: 100;
            padding: 0px 0px 0px 0px;
            border-bottom: 1px none rgba(255, 255, 255, 1);
            overflow: hidden;
            display: block;
        }

            div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=left] {
                float: none;
                position: relative;
                overflow: hidden;
                width: 300px;
            }

                div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=left] div[left-obj=logo] {
                    height: 60px;
                    margin: 6px 10px !important;
                }

            div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] {
                float: none;
                position: relative;
                width: auto;
                padding-right: 0px;
            }

                div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] {
                    padding: 10px 0px 0px 0px;
                    cursor: pointer;
                }

                    div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] {
                        padding: 0px 0px;
                        position: relative;
                        white-space: nowrap;
                    }

                        div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] div[menu-obj=item] {
                            display: block;
                            margin: 0px 0px 0px 0px;
                            padding: 10px 15px 10px 15px;
                            font-size: 17px;
                            color: rgba(255, 255, 255, 1);
                            position: relative;
                            border: 1px none #fff;
                        }

                            div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] div[menu-obj=item]:before {
                                content: "";
                                position: absolute;
                                top: 0px;
                                right: 0px;
                                bottom: 0px;
                                width: 1px;
                                background: rgba(255, 255, 255, 1);
                                background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
                                background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
                                background: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
                                background: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
                                background: linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
                                display: none;
                            }

                            div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] div[menu-obj=item]:last-of-type::before {
                                display: none;
                            }

                            div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] div[menu-obj=item] a {
                                color: rgba(255, 255, 255, 1);
                                text-decoration: none;
                            }

                            div[page=layout] div[layout-obj=headr] div[headr-obj=headr-wrappr] div[wrappr-obj=right] div[right-obj=menu-btn] div[btn-obj=menu-list] div[menu-obj=item]:hover a {
                                color: rgba(255, 255, 255, 1);
                                text-decoration: none;
                                text-shadow: rgba(255, 255, 255, 1) 1px 1px 3px;
                                text-shadow: rgba(20, 20, 20, .7) 1px 1px 4px;
                            }







    div[layout-obj=signup] div[signup-obj=bdy] {
    }

        div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=hintbox] {
            margin: 50px auto 0px auto;
            padding: 0px 0px 0px 0px;
            width: 620px;
            font-size: 14px;
            font-family: 'Open Sans Regular';
            text-align: center;
        }

            div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=hintbox] div[hintbox-obj=title] {
                font-size: 19px;
                font-family: 'Open Sans Light';
                margin: 0px 0px 10px 0px;
                color: #F00;
            }

            div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=hintbox] div[hintbox-obj=descr] {
                font-size: 13px;
                font-family: 'Open Sans Regular';
                margin: 0px 0px 10px 0px;
                color: #F00;
                line-height: 19px;
            }

        div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] {
            margin: 30px 15px 30px 15px;
            padding: 0px 0px 0px 0px;
            width: inherit;
            font-size: 14px;
            font-family: 'Open Sans Regular';
        }

            div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] {
                margin: 0px 10px 28px 10px;
            }

                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] div[row-obj=column] {
                    margin: 9px;
                }

                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] {
                    overflow: hidden;
                    position: relative;
                    margin: 0px 0px 0px 0px;
                    padding: 0px 0px 0px 0px;
                }

                    div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true][headr] span {
                        font-size: 15px;
                        font-family: 'Open Sans Bold';
                    }

                    div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column] {
                        float: none;
                        overflow: hidden;
                        position: relative;
                        padding: 5px 5px 5px 5px;
                        margin: 0px 0px 0px 0px;
                        min-width: 170px;
                        text-align: left;
                    }

                        div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column] span {
                            margin: 6px 0px 6px 0px;
                            line-height: 32px;
                        }

                        div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column] a {
                            text-decoration: none;
                            color: rgba(0, 148, 255, 1);
                        }

                            div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column] a:hover {
                                text-decoration: underline;
                                color: rgba(0, 148, 255, 1);
                            }

                        div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column]:last-of-type {
                            float: none;
                            overflow: hidden;
                            position: relative;
                            width: auto;
                            font-size: 12px;
                            line-height: 19px;
                            text-align: left;
                        }

                        div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column] div[row-obj=column] {
                            float: left;
                            overflow: hidden;
                            position: relative;
                            padding: 3px 2px 3px 0px;
                            margin: 0px 6px 0px 0px;
                            min-width: 16px;
                            text-align: right;
                        }

                            div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row][float=true] div[row-obj=column] div[row-obj=column]:last-of-type {
                                float: none;
                                overflow: hidden;
                                position: relative;
                                padding: 0px;
                                /*margin-top: -5px;*/
                                width: auto;
                                font-size: 12px;
                                line-height: 19px;
                                text-align: left;
                            }


                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] div[row-obj=column] input[type=text],
                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] div[row-obj=column] input[type=password],
                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] div[row-obj=column] textarea {
                    width: 100% !important;
                    font-size: 14px;
                    box-sizing: border-box;
                }

                div[layout-obj=signup] div[signup-obj=bdy] div[ftype] div[bdy-obj=form] div[form-obj=row] div[row-obj=column] select {
                    width: 100% !important;
                    min-width: 100% !important;
                    font-size: 14px;
                    box-sizing: border-box;
                }


        div[layout-obj=signup] div[signup-obj=bdy] ul[bdy-obj=tab] {
            width: auto !important;
            max-width: 300px;
            margin: 20px auto;
            padding: 0px 15px;
        }

            div[layout-obj=signup] div[signup-obj=bdy] ul[bdy-obj=tab] li[tab-obj=btn] {
                width: 175px;
            }






        div[layout-obj=signup] div[signup-obj=bdy] div[ftype=cform] {
            padding: 0px 0px 0px 0px;
            width: inherit;
        }

        div[layout-obj=signup] div[signup-obj=bdy] div[ftype=iform] {
            padding: 0px 0px 0px 0px;
            width: inherit;
        }


    .pwd-genrtor {
        margin: 0px auto;
    }

    .password-generator-label {
        display: none;
    }

    .password-generator-field {
        margin-bottom: 20px;
    }



    div[page=layout] div[layout-obj=footr] {
        padding: 0px 0px 0px 0px;
        background: rgba(30, 30, 30, 1);
        border-top: 4px solid rgba(255, 255, 255, 1);
        position: relative;
    }

        div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] {
            position: relative;
            overflow: hidden;
            width: auto;
            margin: auto;
            padding: 20px 0px;
        }

            div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] {
                margin: 0px 15px;
            }

                div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=lft-pane] {
                    position: relative;
                    float: none;
                    overflow: hidden;
                    width: auto;
                    color: #FFF;
                }

                    div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=lft-pane] div[lft-pane-obj=social] {
                        position: relative;
                        overflow: hidden;
                        color: #FFF;
                        width: 190px;
                        margin: auto;
                    }

                        div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=lft-pane] div[lft-pane-obj=social] div[social-obj=soc-itm] {
                            position: relative;
                            overflow: hidden;
                            float: left;
                            width: 39px;
                            height: 39px;
                            border: 2px solid #FFF;
                            border-radius: 60px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 70%;
                            margin: 0px 6px 0px 0px;
                            text-align: center;
                            white-space: nowrap;
                        }

                            div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=lft-pane] div[lft-pane-obj=social] div[social-obj=soc-itm]:last-of-type {
                                margin: 0px 0px 0px 0px;
                            }

                            div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=lft-pane] div[lft-pane-obj=social] div[social-obj=soc-itm] i {
                                line-height: 38px;
                                font-size: 26px;
                                text-align: center;
                            }

                div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] {
                    padding: 0px 0px 0px 0px;
                    margin: 50px 0px 0px 0px;
                    text-align: center;
                }

                    div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=top] ul[top-obj=colsvw] li[colsvw-obj=col] {
                        position: relative;
                        float: none;
                        width: auto;
                        margin: 0px 0px 0px 0px;
                    }

                    div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=bottom] ul[bottom-obj=colsvw] li[colsvw-obj=col] {
                        position: relative;
                        float: none;
                        width: auto;
                        margin: 0px;
                    }




                    div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=top] ul[top-obj=colsvw] li[colsvw-obj=col] ul[col-obj=rowsvw] li[rowsvw-obj=row] {
                        position: relative;
                        font-size: 14px;
                        line-height: 25px;
                        overflow: hidden;
                        text-align: center;
                        margin: auto;
                    }

                        div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=top] ul[top-obj=colsvw] li[colsvw-obj=col] ul[col-obj=rowsvw] li[rowsvw-obj=row] div[row-obj=img] {
                            position: relative;
                            float: none;
                            display: inline;
                            width: 14px;
                            height: 14px;
                            margin: 0px 10px 0px 0px;
                            background-size: 100%;
                            background-position: center;
                            background-repeat: no-repeat;
                        }

                        div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=top] ul[top-obj=colsvw] li[colsvw-obj=col] ul[col-obj=rowsvw] li[rowsvw-obj=row] div[row-obj=text] {
                            position: relative;
                            float: none;
                            width: auto;
                        }

                    div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=bottom] {
                        position: relative;
                        overflow: hidden;
                        width: auto;
                        margin: 40px 0px 0px 0px;
                        color: rgba(255, 255, 255, .7);
                    }

                        div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=bottom] ul[bottom-obj=colsvw] {
                            position: relative;
                            margin: 0px;
                            padding: 0px;
                            list-style: none;
                            overflow: hidden;
                        }

                            div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=bottom] ul[bottom-obj=colsvw] li[colsvw-obj=col] {
                                position: relative;
                                float: none;
                                min-width: 100px;
                                margin: 0px 0px 0px 0px;
                            }

                                div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=bottom] ul[bottom-obj=colsvw] li[colsvw-obj=col]:nth-of-type(2n) {
                                    display: none;
                                }

                                div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=bottom] ul[bottom-obj=colsvw] li[colsvw-obj=col]:last-of-type {
                                    margin-right: 0px;
                                }

                                div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=bottom] ul[bottom-obj=colsvw] li[colsvw-obj=col] ul[col-obj=rowsvw] {
                                    position: relative;
                                    margin: 0px;
                                    padding: 0px;
                                    list-style: none;
                                }

                                    div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=bottom] ul[bottom-obj=colsvw] li[colsvw-obj=col] ul[col-obj=rowsvw] li[rowsvw-obj=row][type=headr] {
                                        position: relative;
                                        font-size: 19px;
                                        line-height: 30px;
                                        color: rgba(2555, 255, 255, .7);
                                    }

                                    div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=bottom] ul[bottom-obj=colsvw] li[colsvw-obj=col] ul[col-obj=rowsvw] li[rowsvw-obj=row] {
                                        position: relative;
                                        font-size: 13px;
                                        line-height: 25px;
                                        overflow: hidden;
                                    }

                                        div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=bottom] ul[bottom-obj=colsvw] li[colsvw-obj=col] ul[col-obj=rowsvw] li[rowsvw-obj=row] div[row-obj=img] {
                                            position: relative;
                                            float: left;
                                            width: 14px;
                                            height: 14px;
                                            margin: 0px 10px 0px 0px;
                                            background-size: 100%;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                        }

                                        div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=top-layr] div[top-layr-obj=rgt-pane] div[rgt-pane-obj=bottom] ul[bottom-obj=colsvw] li[colsvw-obj=col] ul[col-obj=rowsvw] li[rowsvw-obj=row] div[row-obj=text] {
                                            position: relative;
                                            float: left;
                                            width: auto;
                                        }



            div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=btm-layr] {
                position: relative;
                overflow: hidden;
                color: rgba(255, 255, 255, .7);
                font-size: 11px;
                margin: 30px 0px 0px 0px;
            }

                div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=btm-layr] div[layr-obj=copyright] {
                    position: relative;
                    overflow: hidden;
                    float: left;
                    width: 350px;
                }

                div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=btm-layr] div[layr-obj=terms] {
                    position: relative;
                    overflow: hidden;
                    float: none;
                    width: auto;
                }

                    div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=btm-layr] div[layr-obj=terms] ul {
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                        overflow: hidden;
                    }

                        div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=btm-layr] div[layr-obj=terms] ul li {
                            float: left;
                            margin: 0px 10px 0px 0px;
                        }

                            div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=btm-layr] div[layr-obj=terms] ul li:last-of-type {
                                margin-right: 0px;
                            }









            div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=btm-layr] {
                margin: 0px 20px;
            }

                div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=btm-layr] div[layr-obj=copyright] {
                    position: relative;
                    overflow: hidden;
                    float: none;
                    margin: auto;
                    width: auto;
                    text-align: center;
                }

                div[page=layout] div[layout-obj=footr] div[footr-obj=footr-wrappr] div[wrappr-obj=btm-layr] div[layr-obj=terms] {
                    position: relative;
                    overflow: hidden;
                    float: none;
                    width: auto;
                    margin: auto;
                    text-align: center;
                }
}
