.bannr_1 {
    background-image:url('/Images/banner/bannr_1.jpg');
}
.bannr_2 {
    background-image:url('/Images/banner/bannr_2.jpg');
}
.bannr_3 {
    background-image:url('/Images/banner/bannr_3.jpg');
}
.bannr_4 {
    background-image:url('/Images/banner/bannr_4.jpg');
}
.bannr_5 {
    background-image:url('/Images/banner/bannr_5.jpg');
}
.bannr_6 {
    background-image:url('/Images/banner/bannr_6.jpg');
}

.advert_bannr_4 {
    background-image: url('/Images/advert_bannr/bannr_4.jpg');
}
.advert_bannr_5 {
    background-image: url('/Images/advert_bannr/bannr_5.jpg');
}
.advert_bannr_6 {
    background-image: url('/Images/advert_bannr/bannr_6.jpg');
}
.advert_bannr_7 {
    background-image: url('/Images/advert_bannr/bannr_7.jpg');
}
.advert_bannr_8 {
    background-image: url('/Images/advert_bannr/bannr_8.jpg');
}
.advert_bannr_9 {
    background-image: url('/Images/advert_bannr/bannr_9.jpg');
}
.advert_bannr_10 {
    background-image: url('/Images/advert_bannr/bannr_10.jpg');
}
.advert_bannr_11 {
    background-image: url('/Images/advert_bannr/bannr_11.jpg');
}